@{
    ViewData["Title"] = "Home Page";
}


  <div class="d-flex h-auto" style="margin-top:20px;">
    <div class="text-center m-auto">
        <h1 style="color:#28a745;; font-size: 4em;font-family:Pacifico">Expense Tracker</h1>
        <h1 style="color: #28a745; font-size:3em;font-family:Pacifico">Wallet App </h1>
        <span><i class="fa-solid fa-wallet fa-2xl " style="color:#28a745;margin-top:20px"></i></span>
       
            <partial name="_LoginPartial" />
        
    </div>
    
</div>

