@using Expense_Tracker.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @inject UserManager<ApplicationUser> UserManager
    @inject SignInManager<ApplicationUser> SignInManager

    List<Object> menuItemsC = new List<Object>();
    List<Object> menuItemsA = new List<Object>();

    menuItemsC.Add(new
    {
        text = "General",
        separator = true,
    });
    menuItemsC.Add(new
    {
        text = "Dashboard",
        url = "/Dashboard",
        iconCss = "fa-solid fa-box",
    });
    menuItemsC.Add(new
    {
        text = "Categories",
        url = "/Category",
        iconCss = "fa-solid fa-folder-closed",
    });
    menuItemsC.Add(new
    {
        text = "Transactions",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "/Transaction"
    });

    menuItemsC.Add(new
    {
        text = "Extras",
        separator = true,
    });
    menuItemsC.Add(new
    {
        text = "Reports",
        iconCss = "fa-solid fa-chart-simple",
        url = "#"
    }); menuItemsC.Add(new
    {
        text = "Settings",
        iconCss = "fa-solid fa-gear",
        url = "#"
    });
    menuItemsA.Add(new
    {
        text = "Create Role",
        url = "/admin/adminhome",
        iconCss = "fa-solid fa-plus-circle",
    });
    menuItemsA.Add(new
    {
        text = "Dashboard",
        url = "/coreAdmin",
        iconCss = "fa-solid fa-table-columns",
    });

}


<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px"
             target=".dock-target" enableGestures="false">
    <e-content-template>

        <div class="logo-wrapper">
            <div class="app-logo">
                <img src="~/logo.png" />
            </div>

        </div>

        <div class="profile-wrapper">
            <img class="profile-pic" src="~/profile.jpg" />
            <div class="titles d-flex flex-column ps-3">
                <h6 class="mb-0" style="color:green">Expense Tracker</h6>
                <span class="text-muted" style="color:">@UserManager.GetUserName(User)</span>
            </div>
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            var user = await UserManager.GetUserAsync(User);
            if (await UserManager.IsInRoleAsync(user, "Client"))
            {
                // Render the ejs-menu component only for users with the role "Client"
                <ejs-menu id="menu"
                  items="menuItemsC"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
            }
            else if (await UserManager.IsInRoleAsync(user, "Admin"))
            {
                // Render the ejs-menu component only for users with the role "Admin"
                <ejs-menu id="menu"
                  items="menuItemsA"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
            }

            <div class="w-100"><i id="sidebar-toggler" class="fa-solid"></i></div>
            <br />
        }
       

    </e-content-template>
</ejs-sidebar>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        dockBar = document.getElementById('sidebar').ej2_instances[0];
        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
        };
    });
</script>